* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body,
html {
    width: 100%;
	height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
	cursor: pointer;
}

.app-heading-card-container {
	height: 600px;
	background: linear-gradient(to right, #77c9d4, #57bc90);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	text-shadow: 5px 5px 2px #334d4d;
}

.app-heading-card-container__app-name {
	font-size: 100px;
	margin: 10px;
}

.app-heading-card-container__app-tagline {
	font-size: 30px;
}


.login-signup-card-container {
    position: relative;
	background: #57bc90;
    display: flex;
    justify-content: center;
    align-items: center;   
    min-width: 280px;
    height: 600px;
}

.app-features-card-container {
	height: 400px;
	background: #141f1f;
	display: flex;
	flex-wrap: wrap;
}

.app-features-card-container__scroll-msg-container {
	height: 70px;
	background: #3f3250;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: white;
	text-shadow: 2px 2px 2px black;
}

.app-features-card-container__scroll-msg-container:hover {
	background: #5c3566;
}

.scroll-msg-container__arrow {
}

.scroll-msg-container__arrow img {
	transform: scale(0.5);
	animation: grow 1s linear infinite;
	animation-direction: alternate;
	opacity: 0.5;
}

.app-features-card-container__feature-card {
	height: 330px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.app-features-card-container__feature-card img {
	color: white;
	height: 96px;
	width: 96px;
}

.feature-card__feature-info {
	color: white;
	font-size: 20px;
	padding: 10px;
}

.login-signup-container {
    height: 100%;
    overflow: hidden;
    min-width: 280px;
    width: 100%;
    color: white;
    text-shadow: 2px 2px 2px #334d4d;
}
.login-container {
    position: relative;
    box-sizing: content-box;
    height: 510px;
    min-width: 280px;
    background: #57bc90;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.heading-container img {
	height: 50px;
	width: 50px;
	margin: 10px;
}

.heading-container h2 {
	font-size: 30px;
}

.signup-container {
    position: relative;
    box-sizing: content-box;
    height: 550px;
    min-width: 280px;
 	background: #77c9d4;
    transition: transform .6s ease-in-out;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 25px;
    padding: 10px;
}


.signup-container.reveal {
    transform: translateY(-450px);
}


.login-circle-button {
    position: absolute;
    height: 60px;
    width: 60px;
    background: linear-gradient(rgba(0,0,0,0) 50%, #57bc90 50%);
    border-radius: 60px;
    bottom: -30px;
    right: 0px;
    z-index: 1;     
    transition: transform .6s ease-in-out;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
	display: none;
}

.login-circle-button:hover {
	box-shadow: 0 5px 5px -5px black;
}

.login-circle-button img {
	transform: rotate(180deg);
	animation: glow-login-btn 0.5s linear infinite;
	animation-direction: alternate;
}


.login-circle-button.moveup {
    transform: translateY(-450px);
}

.signup-circle-button {
    position: absolute;
    height: 60px;
    width: 60px;
    background: linear-gradient(#77c9d4 50%, rgba(0,0,0,0) 50%);
    border-radius: 60px;
    top: -30px;
    z-index: 1;   
    display: flex;
    right: 0px;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;  
}

.signup-circle-button img {
	animation: glow-signup-btn 0.5s linear infinite;
	animation-direction: alternate;
}

.signup-circle-button:hover {
	box-shadow: 0 -5px 5px -5px black;	
}

.form-container {
	margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.input {
    height: 45px;
    background: white;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
	width: 300px;
	font-size: 20px;
}

.input:focus {
	box-shadow: 2px 2px 5px #555753;
}	

.submit-button {
    height: 40px;
    width: 150px;
    background: #ff6600;
    border-radius: 10px;
    margin: 40px;
    color: white;
}

.submit-button:hover {
	background: #ff3300;
	box-shadow: 2px 2px 5px #555753;
}	

@media only screen and (max-width: 280px) {
    .login-signup-container {
        border-radius: 0px;
    }
}

@keyframes grow {
	100% {
		transform: scale(0.7);
		opacity: 1;
	}
}

@keyframes glow-login-btn {
	100% {
		transform: scale(0.7) rotate(180deg);
	}
}

@keyframes glow-signup-btn {
	100% {
		transform: scale(0.7);
	}
}




